* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-color);
}

:root {
    --main-color: #f7e8b1;
    --line-color: #473c38;
    --other-color: #b2935b;
}

/* Client */
/* dogetopnavigation.php */
.topnav {
    background-color: var(--other-color);
    position: relative;
    overflow: hidden;
    border: 3px solid var(--line-color);
    border-radius: 50px;
    margin: 10px;
}

/* Left Aligned Links */
.topnav img {
    float: left;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.topnav a {
    float: left;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.topnav a:hover {
    background-color: var(--line-color);
    color: white;
}

.topnav a.active {
    background-color: var(--line-color);
    color: white;
}

/* Centered Search */
.topnav .search-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--main-color);
    font-size: 17px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

/* Right Aligned Links */
.topnav-right {
    float: right;
}

.topnav-right button {
    float: right;
    margin-top: 21px;
    margin-right: 10px;
    border: none;
    background-color: var(--other-color);
    cursor: pointer;
}

/* Admin */
/* doge_products.php */
/* Column */
.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 15px;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--line-color);
}

#forms{
}

.column input[type=text], input[type=number], select, input[type=file] {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
}

input[type=submit] {
    background-color: var(--line-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#display {
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 15px;
}